name: CI_Windows

on:
  pull_request:
    branches:
    - wip-mingw
  schedule:
    - cron: '0 4 */7 * *'
  workflow_dispatch:
    inputs:
      build_mode:
        description: 'Build mode: devel_build, nightly_build, testing_build, stable_build'
        required: true
        default: 'devel_build'
      publish:
        description: 'Publish to FTP: on - publish'
        required: false
        default: 'off'   

jobs:
  build_x64:
    runs-on: windows-latest
    steps:
    # An alternative to using the msys2 action (from https://github.com/marketplace/actions/setup-msys2),
    # would be to do it manually: download msys2 from https://github.com/msys2/msys2-installer/releases/tag/nightly-x86_64
    - uses: msys2/setup-msys2@v2
      with:
        msystem: mingw64
        update: true
        install: >-
          base-devel
          git
          mingw-w64-x86_64-autotools
          mingw-w64-x86_64-libtool
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-gnutls
          mingw-w64-x86_64-gc
    - uses: actions/checkout@v3
      with:
        ref: wip-mingw
    - name: Autogen
      shell: msys2 {0}
      run: |
        ./autogen.sh
    - name: Configure
      shell: msys2 {0}
      run: |
        ./build/ci/tools/configure_guile.sh
    - name: Build
      shell: msys2 {0}
      run: |
        make
