name: CI_Windows

on:
  pull_request:
    branches:
    - wip-mingw
  schedule:
    - cron: '0 4 */7 * *'
  workflow_dispatch:
    inputs:
      build_mode:
        description: 'Build mode: devel_build, nightly_build, testing_build, stable_build'
        required: true
        default: 'devel_build'
      publish:
        description: 'Publish to FTP: on - publish'
        required: false
        default: 'off'   

jobs:
  build_x64:
    runs-on: windows-latest
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: mingw64
        update: true
        install: >-
          base-devel
          git
          mingw-w64-x86_64-autotools
          mingw-w64-x86_64-libtool
          mingw-w64-x86_64-toolchain
          mingw-w64-x86_64-gnutls
          mingw-w64-x86_64-gc
    - uses: actions/checkout@v3
      with:
        ref: wip-mingw
    - name: copy CI tools
      shell: bash
      run: |
        git branch -a
        git checkout repoinfo -- build
        ls -ltr
        find build
    - name: Build
      shell: msys2 {0}
      run: |
        ./build/ci/tools/build_guile.sh
